#map-teamPlayers {
	/*position: absolute;*/
}
.map {
	/*height:450px;*/
}

.map-description-text {
	text-align: center;
}

.dropdown-menu {
	width:100%;
	text-align: center;
}

#teamSearchBox {
	width: 100%;
	text-align: center;
}