#map-teamPlayers {
	/*position: absolute;*/
}
.map {
	height:500px;
}

.map-description-text {
	text-align: center;
}

.dropdown-menu {
	width:100%;
	text-align: center;
}

#teamSearchBox {
	width: 100%;
	text-align: center;
}

@media(max-width:1200px) {
	.map {
		height:450px;
	}
}

@media(max-width:991px) {
	.map {
		height:400px;
	}
}

@media(max-width:768px) {
	.map {
		height:350px;
	}
}

@media(max-width:640px) {
	.map {
		height:325px;
	}
}

@media(max-width:375px) {
	.map {
		height:275px;
	}
}